@charset "utf-8";

/* 共通項目 */
body {
    margin: 30px;
    color: #283655;
    max-width: 420px;
}

input {
    border: 1px solid;
}

.hidden {
    display: none;
}

/* タスク入力フォーム */
.task_form {
    padding: 0px 10px 10px 10px;
    border: 1px solid #4d648D;
}

.task_form form {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.task_form input[type="date"],
select {
    width: 150px;
}

/* タスク一覧 */
.tasklist table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

/* タスク更新ダイアログ */
#updateDialog {
    display: none;
    background-color: #fff;
    border: 2px double;
    width: 500px;
    position: fixed;
    top: 120px;
    z-index: 9999;
}